*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100vh;
    background-color: lightcoral;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    height: 50vh;
    background-color: chartreuse;
}

.title{
    font-size: 4.5em;
}

.itembox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 50vw;
    height: 100vh;
    padding: 60px;
    background-color: lightgreen;
}

.item{
    flex-basis: 45%;
    height: 38vh;
    border-radius: 5px;
    background-color: lightseagreen;
    transition: 0.9s;
}

.item:hover{
    transform: scale(1.04);
}

.item:nth-child(1){
    margin-bottom: 50px;
}

.item:nth-child(3){
    margin-bottom: 50px;
}

